{% load static %}
<html> 

    this is the affinity group confirmation page
<h1> confirmation 1/4</h1>


<h1>  
based from the affinity group, 
<br>
you are an : {{affinity_result }}
</h1>

<form method='post' action=''">
    {% csrf_token %}    

        Do you agree that you are an {{affinity_result }}? If you do not agree please change your answer to {{change_result}}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios1" value="option1">
                agree
            <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios2" value="option2">
                change my answer to {{change_result}}
                
        </div>
        <br>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>


</html>