{% extends 'index.html' %}

{% block content %}
<html>  <br>  <br> <br>  <br> <br>  
   
    <head> <title> affinity confirmation </title> </head>

    <body> 


    <section id="confirmation" class="confirmation">
            <div class="container">

                <div class="d-flex flex-column justify-content-center align-items-center">

                    <h4> 25% </h4> <br>
                    <p> Based off the <b> affinity </b> group, you are an :  </p>
                    <h1>  {{affinity_result }} </h1>
                    <br>

                    <form method='post' action=''">
                        {% csrf_token %}

                            <p> If you would like to <b> learn more</b> about the affinity group please click  <b> <a href="#info"> here </a></p> </b>
                            

                            Do you agree that you are an {{affinity_result }}? If you do not agree please change your answer to {{change_result}}

                            <div class="form-check"> <br>
                                <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios1" value="option1">
                                    Agree, I am an {{affinity_result }}
                                    <br>
                                <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios2" value="option2">
                                    Disagree, change my answer to {{change_result}}
                                    
                            </div> <br>
                        
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div> 
    </section>

    <br> <br> <br> <br> <br> <br>  <br>


    <section id="info" class="info">
        <br>
       
        <li>  <b>  Introvert</b> : When a person is reserved and does not open up easily <br>  </li>
        <li>   <b>  Extrovert </b> : When a person is social, talkative and makes friends quickly  </li>
        <li>   <b>  Example </b> : I like to talk to people and do not like to stay indoors. I am an extrovert.  </li> <br>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <p> For all examples, Click <a href="/#testimonials" target="_blank" > here </a> </p>
            <p> Not sure what are the differences? read below and , Click  <a href="/#services" target="_blank" > here </a> </p>
        </div>

        
        <br>
        <p>
            When we talk about "extraversion" and "introversion", we are distinguishing between the two worlds in which all of us live. There is a world inside ourselves, and a world outside ourselves. When we are dealing with the world outside of ourself, we are "extraverting". When we are inside our own minds, we are "introverting".
        </p>

        <p>
            We are extraverting when we:
        </p>

        <li> Talk to other people </li>
        <li> Listen to what someone is saying </li>
        <li> Cook dinner, or make a cup of coffee </li>
        <li> Work on a car </li>
        
        <br>

        <p>
            We are introverting when we:
        </p>

        <li> Read a book </li>
        <li> Think about what we want to say or do  </li>
        <li> Are aware of how we feel </li>
        <li> Think through a problem so that we understand it </li>
        
        <br>
        <p>
            Within the context of personality typing, the important distinction is which world we live in more often. Do we define our life's direction externally or internally? Which world gives us our energy, and which do we perhaps find draining?
        </p>
                
        <table id="tablep3ress-40" class="t">
            <style>
                .t{
                  display: block;
                  color: black;
                  border: 2px;
                  padding: auto;
                }
                .column-1 , .column-2, .column-3{
                    color: black;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                    border-spacing: 10px;
                }
                
            </style>
                    <thead>
                    <tr class="row-1 odd">
                        <th class="column-1">Basis for Comparison</th><th class="column-2">Introvert</th><th class="column-3">Extrovert</th>
                    </tr><br>
                    </thead>

                    <tbody class="row-hover">
                    <tr class="row-2 even">
                        <td class="column-1">Meaning</td><td class="column-2">An introvert is a person who remains isolated, or enjoys the company of few closed ones.</td><td class="column-3">An extrovert is an outgoing and outspoken person who enjoys being around and talking to people.</td>
                    </tr><br>
                    <tr class="row-3 odd">
                        <td class="column-1">Nature</td><td class="column-2">Self-contained</td><td class="column-3">Gregarious</td>
                    </tr><br>
                    <tr class="row-4 even">
                        <td class="column-1">Speaking</td><td class="column-2">They think before speaking.</td><td class="column-3">They reason things out by speaking them.</td>
                    </tr><br>
                    <tr class="row-5 odd">
                        <td class="column-1">Energy</td><td class="column-2">Recharges with solitude</td><td class="column-3">Recharges with social interactions</td>
                    </tr><br>
                    <tr class="row-6 even">
                        <td class="column-1">Time</td><td class="column-2">Spends more time with themselves</td><td class="column-3">Spends more time with family and friends</td>
                    </tr><br>
                    <tr class="row-7 odd">
                        <td class="column-1">Focus</td><td class="column-2">Inward focused</td><td class="column-3">Outward focused</td>
                    </tr><br>
                    <tr class="row-8 even">
                        <td class="column-1">Friends</td><td class="column-2">Few</td><td class="column-3">Many</td>
                    </tr><br>
                    <tr class="row-9 odd">
                        <td class="column-1">Change</td><td class="column-2">Do not accept change easily.</td><td class="column-3">Accept change easily.</td>
                    </tr><br>
                    <tr class="row-10 even">
                        <td class="column-1">Communication</td><td class="column-2">Openly communicate about themselves with people they know and trust.</td><td class="column-3">Openly communicate about themselves with anyone.</td>
                    </tr><br>
                    <tr class="row-11 odd">
                        <td class="column-1">Concentration</td><td class="column-2">Deeply concentrate for long period.</td><td class="column-3">Get distracted easily.</td>
                    </tr><br>
                    </tbody>
        </table>

    </section>

    <br> <br>  <br> <br>  <br> 

    </body>

</html>

{% endblock %}




