{% extends 'index.html' %}

{% block content %} <br>  <br> <br>  <br> <br>  

<html> 
    
    <head> 
        <title> time spending confirmation </title 
    </head>

    <body> 

        <section id="confirmation" class="confirmation">
                <div class="container">

                    <div class="d-flex flex-column justify-content-center align-items-center">

                        <h4> 100% </h4> <br>
                        <p> Based off the <b> time spending </b> group, you are an :  </p>
                        <h1>  {{time_result }} </h1>
                        <br>

                        <form method='post' action=''">
                            {% csrf_token %}    

                                <p> If you would like to learn more about the time spending group please click  <a href="#info"> here </a></p>
                                

                                Do you agree that you are an {{time_result }}? If you do not agree please change your answer to {{change_result}}

                                <div class="form-check"> <br>
                                    <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios1" value="option1">
                                        agree
                                        <br>
                                    <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios2" value="option2">
                                        change my answer to {{change_result}}
                                        
                                </div> <br>
                            
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
        </section>   <br> <br> <br> <br> <br> <br>  <br>

        <section id="info" class="info">

            <br>
       
            <li>  <b>  Judging</b> : People with the Judging preference want things to be neat, orderly and established. Judgers want things settled <br>  </li>
            <li>   <b>  Perceiving </b> : The Perceiving preference wants things to be flexible and spontaneous. Perceivers want thing open-ended  </li>
            <li>   <b>  Example </b> :I do not have a thought about someone or something unless I have been open with them. I engage in time spending through perceiving and not judgement. </li>

            <br>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <p> For all examples, Click <a href="/#testimonials" target="_blank" > here </a> </p>
                <p> Not sure what are the differences? read below and , Click  <a href="/#services" target="_blank" > here </a> </p>
            </div>
            <br>
    
            <p>
                We are using Judging when we:
            </p>
    
            <li> Make a list of things to do </li>
            <li> Schedule things in advance </li>
            <li> Form and express judgments </li>
            <li> Bring closure to an issue so that we can move on </li>
            
            <br>
    
            <p>
                We are using Perceiving when we:
            </p>
    
            <li> Postpone decisions to see what other options are available </li>
            <li> Act spontaneously  </li>
            <li> Decide what to do as we do it, rather than forming a plan ahead of time </li>
            <li> Do things at the last minute </li>
            
            <br>
            <p>
                The differences between Judging and Perceiving are probably the most marked differences of all the four preferences. People with strong Judging preferences might have a hard time accepting people with strong Perceiving preferences, and vice-versa. On the other hand, a "mixed" couple (one Perceiving and one Judging) can complement each other very well, if they have developed themselves enough to be able to accept each other's differences.
            </p>
                        
                <table id="tablep3ress-40" class="t">
                    <style>
                        .t{
                        display: block;
                        color: black;
                        border: 2px;
                        padding: auto;
                        }
                        .column-1 , .column-2, .column-3{
                            color: black;
                            border-top: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            border-left: 1px solid #ddd;
                            border-spacing: 10px;
                        }
                        
                    </style>
                            <thead>
                            <tr class="row-1 odd">
                                <th class="column-1">Basis for Comparison</th><th class="column-2">Judging</th><th class="column-3">Perceiving</th>
                            </tr><br>
                            </thead>

                            <tbody class="row-hover">
                            <tr class="row-2 even">
                                <td class="column-1">Meaning</td><td class="column-2">Judgers want things settled.</td><td class="column-3">Perceivers want thing open-ended</td>
                            </tr><br>
                            <tr class="row-3 odd">
                                <td class="column-1">Nature</td><td class="column-2">I like to get my work done before playing.</td><td class="column-3">I work in bursts of energy.</td>
                            </tr><br>
                            <tr class="row-4 even">
                                <td class="column-1">Timetable</td><td class="column-2">I like to make lists of things to do</td><td class="column-3">I like to approach work as play or mix work and play.</td>
                            </tr><br>
                            <tr class="row-5 odd">
                                <td class="column-1">Energy</td><td class="column-2">I plan work to avoid rushing just before a deadline.</td><td class="column-3">I am stimulated by an approaching deadline.</td>
                            </tr><br>
                            <tr class="row-6 even">
                                <td class="column-1">Brain</td><td class="column-2"> Have assumptions</td><td class="column-3">Open minded</td>
                            </tr><br>
                            <tr class="row-7 odd">
                                <td class="column-1">Focus</td><td class="column-2">Sometimes I focus so much on the goal that I miss new information. </td><td class="column-3"> Sometimes I stay open to new information so long I miss making decisions when they are needed </td>
                            </tr><br>
                            </tbody>
                </table>
        </section> <br> <br>  <br> <br>  <br> 

    </body>

    <script>
        window.location = "arabic_4_confirmation" 
    </script>


</html>

{% endblock %}


