{% extends 'index.html' %}

{% block content %}
    <br>  <br> <br>  <br> <br>  
    <head> <title> make decision confirmation </title </head>
<body> 


<section id="confirmation" class="confirmation">
        <div class="container">

            <div class="d-flex flex-column justify-content-center align-items-center">

                <h4> 75% </h4> <br>
                <p> Based off the <b> make decision </b> group, you are an :  </p>
                <h1>  {{make_result }} </h1>
                <br>

                <form method='post' action=''">
                    {% csrf_token %}    

                        <p> If you would like to learn more about the make decision group please click  <a href="#info"> here </a></p>
                        

                        Do you agree that you are an {{make_result }}? If you do not agree please change your answer to {{change_result}}

                        <div class="form-check"> <br>
                            <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios1" value="option1">
                                agree
                                <br>
                            <input class="form-check-input" type="radio" name="affinity_result" id="gridRadios2" value="option2">
                                change my answer to {{change_result}}
                                
                        </div> <br>
                    
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
</section>


<br> <br> <br> <br> <br> <br>  <br>

    <section id="info" class="info">
        

        <br>
       
        <li>  <b>  Thinking</b> : When you make a decision that is based on logic and reason <br>  </li>
        <li>   <b>  Feeling </b> : When you make a decision that is based on their value system, what they believe to be right, or your emotions  </li>
        <li>   <b>  Example </b> : When I need to make decisions, I take time and think logically about the problem and do not let my feelings and emotions take too much control. I make decisions by thinking and not feeling.  </li>

        <br>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <p> For all examples, Click <a href="/#testimonials" target="_blank" > here </a> </p>
            <p> Not sure what are the differences? read below and , Click  <a href="/#services" target="_blank" > here </a> </p>
        </div>
        <br>

        <p>
            We are making decisions in the Thinking mode when we:
        </p>

        <li> Research a product via consumer reports, and buy the best one to meet our needs </li>
        <li> Do "The Right Thing", whether or not we like it        </li>
        <li> Choose not to buy a blue shirt which we like, because we have two blue shirts </li>
        <li> Establish guidelines to follow for performing tasks </li>
        
        <br>

        <p>
            We are making decisions in the Feeling mode when we:
        </p>

        <li> Decide to buy something because we like it  </li>
        <li> Refrain from telling someone something which we feel may upset them  </li>
        <li> Decide not to take a job because we don't like the work environment </li>
        <li> Decide to move somewhere to be close to someone we care about </li>
        
        <br>
        <p>
            Decisions that we find most difficult are those in which we have conflicts between our Thinking and Feeling sides. In these situations, our dominant preference will take over. Decisions which we find easy to make and feel good about are usually a result of being in sync with both our Feeling and Thinking sides.
        </p>
                
        <table id="tablep3ress-40" class="t">
            <style>
                .t{
                  display: block;
                  color: black;
                  border: 2px;
                  padding: auto;
                }
                .column-1 , .column-2, .column-3{
                    color: black;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                    border-spacing: 10px;
                }
                
            </style>
                    <thead>
                    <tr class="row-1 odd">
                        <th class="column-1">Basis for Comparison</th><th class="column-2">Thinking</th><th class="column-3">Feeling</th>
                    </tr><br>
                    </thead>

                    <tbody class="row-hover">
                    <tr class="row-2 even">
                        <td class="column-1">Meaning</td><td class="column-2"> You thoughts based on logic and reason </td><td class="column-3"> Your values and emotions</td>
                    </tr><br>
                    <tr class="row-3 odd">
                        <td class="column-1">Complexity</td><td class="column-2">Thoughts are complicated</td><td class="column-3">Feelings are simple and straightforward</td>
                    </tr><br>
                    <tr class="row-4 even">
                        <td class="column-1">Nature</td><td class="column-2">Thoughts are ideas, perceptions, or opinions produced by thinking, or occurring suddenly in the mi.</td><td class="column-3">feelings are emotions or reactions to physical or mental sensations</td>
                    </tr><br>
                    <tr class="row-5 odd">
                        <td class="column-1">Energy</td><td class="column-2"> thoughts are our ideas, perceptions, or opinions about the world around us</td><td class="column-3">feelings are our reactions to emotions or sensations</td>
                    </tr><br>
                    <tr class="row-6 even">
                        <td class="column-1">Order</td><td class="column-2"> We think after we feel </td><td class="column-3"> Feelings come first. For example, newborn babies have feelings, but they may not have thoughts.</td>
                    </tr><br>
                    </tbody>
        </table>

    </section>

    <br> <br>  <br> <br>  <br> 
    <!-- <script>
        window.location = "arabic_3_confirmation" 
    </script> -->

</body>


</html>

{% endblock %}


