{% load static %}
<head> 
    <link href="static/css/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>


<body>

<h1>
    Please choose a report to download.
</h1>


<h3>
Download the free version 
</h3>

<form method='post' action='download_report_free'">
    {% csrf_token %}    
    <button type="submit" class="btn btn-primary">Download free verison</button>
</form>  



<h3> Proceed to download the full paid version </h3>
<form method='post' action='c'">
    {% csrf_token %}    
    <button type="submit" class="btn btn-primary"> Proceed </button>
</form>

  
<p>
note that if you download the free verison, the paid verison link will be in the free pdf

</p>


</body>


