{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">


<body>

<h1>
    this is the download page
</h1>


<h1>
download the free version
<form method='post' action='download_report_free'">
    {% csrf_token %}    
    <button type="submit" class="btn btn-primary">Download free verison</button>
</form>  

</h1>

<h1>
download the full paid version
</h1>



<p> PAYAPL WORKING IN PROGRESS </p>
<form method='post' action='download_report_paid'">
    {% csrf_token %}    
    <button type="submit" class="btn btn-primary">Download paid verison</button>
</form>


<h1> pay pal payment feature </h1>

<form method='post' action='paypal'">
    {% csrf_token %}    
    <button type="submit" class="btn btn-primary"> paypal </button>
</form>

  


<p>
    WORKING ON THIS
note that if you download the free verison, the paid verison link will be in the free pdf

</p>


</body>


