
{% extends 'index.html' %}

{% block content %}
    <br>  <br> 
    <head> <title> download page </title </head>
<body> 


<section id="results" class="results">
        <div class="container">

            <div class="d-flex flex-column justify-content-center align-items-center">
                
                <p> Not sure which editon to download? Click <a href="/#faq" target="_blank" > here </a> to see the FAQ </p> <br>


                <h3> Standard edition </h3>                     
                <form method='post' action='download_report_free'">
                    {% csrf_token %}    
                    <button type="submit" class="btn btn-primary">Download</button>
                </form>   <br> <br>  <br> 
                
                <h3> Premium edition </h3>
                <form method='post' action='c'">
                    {% csrf_token %}    
                    <button type="submit" class="btn btn-primary"> Download </button>
                </form><br> <br>  <br> 

                <h3> Earn Money </h3>
                <p> Become an affiliate marketer</p>
                <form method='post' action='a'">
                    {% csrf_token %}    
                    <button type="submit" class="btn btn-primary"> learn more </button>
                </form>
                
                <br> <br> 
                
                
            </div>
</section>

</body>

</html>

{% endblock %}




