{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">


<body>

<h1>
    Please choose a report to download.
</h1>


<h3>
download the free version
<form method='post' action='download_report_free'">
    {% csrf_token %}    
    <button type="submit" class="btn btn-primary">Download free verison</button>
</form>  

</h3>


<h3> download the full paid version </h3>

<form method='post' action='paypal'">
    {% csrf_token %}    
    <button type="submit" class="btn btn-primary"> paypal </button>
</form>

  
<p>
note that if you download the free verison, the paid verison link will be in the free pdf

</p>


</body>


