

<br>  <br> <br> <br> <br> 

{% extends 'index.html' %}

{% block content %}
    <head> <title> error   </title </head>
<body> 

    <div class="d-flex flex-column justify-content-center align-items-center"></div>
        <h1> please go back and make sure that:</h1>
        <li> you completed all the questions </li>
        <li> you have typed your name </li>
        <li> you have typed your email</li>

        <br>

        <h1> :يرجى العودة والتأكد من ذلك </h1>
        <li> لقد أكملت جميع الأسئلة </li>
        <li> لقد كتبت اسمك </li>
        <li> لقد كتبت بريدك الإلكتروني </li>


    </div>
</body>

{% endblock %}