







{% extends 'index.html' %}

{% block content %}
    <br>  <br> <br> 
    <head>
      <title> survey </title>
    </head>
<body> 

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1> يرجى إكمال استطلاع ٦٠ سؤالا </h1>
<div align="centre " id="displaytimer"><b>Timer: 0 seconds</b></div>




 <form method='post' action=''">
    {% csrf_token %}    

    {% for q  in questions%}

        <section id={{q.id}}> 
            <div class="form-group">
            <h5>  {{q.id}}).    {{q.question_arabic_سؤال_عربي}} </h5>
            </div>
            <div class="form-check">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question_arabic_سؤال_عربي}}" id="gridRadios1" value="option1">
                        {{q.asnwer_choice_one_arabic_الإجابة_الأولى_عربى}}
                        <br>
                    <input class="form-check-input" type="radio" name="{{q.question_arabic_سؤال_عربي}}" id="gridRadios2" value="option2">
                        {{q.asnwer_choice_two_arabic_الإجابة_الثاني_عربى}}
                        
                </div>
                <br>
            </div>
        </section>   

    {% endfor %}

    
    <input id='timer' type='hidden' name="timer" value="">
    <br>
    
    <section id=before_submit >
        <label for="your_name">    * اسمك  : </label>
        <input id="user_name" type="text" name="user_name">

        <br>
        <br>

        <label for="user_email"> * بريدك  : </label>
        <input id="user_email" type="text" name="user_email">

        <br>
        <br>

        <label for="user_phone"> رقم تليفونك       : </label>
        <input id="user_phone" type="text" name="user_phone">

        <br>
        <br>

        <button type="submit"> Submit</button>
        <script>
            document.getElementById('submit').addEventListener('click', function() {
                alert("hello")
                window.history.replace('');
          });
        </script>
          
    </section>

    <br> <br> <br><br><br><br><br><br>

  </form>
  
    {% block script %}
        <script>

            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)
        </script>
    {% endblock script %}

</div>
</div>

</body>
 
</html>

{% endblock %}